<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head>
<title>Calendar Directive Challenge</title>
<link rel="stylesheet" type="text/css" href="./main.css" />
</head>
<body ng-controller="home">
    <form name="dateSelector" id="dateSelector" novalidate>
        <label for="month">Month: </label>
        <select id="month" ng-model="month">
            <option ng-repeat="month in monthArray" ng-selected="month==currentMonth">{{month}}</option>
        </select>
        <label for="year">Year: </label>
        <select id="year" ng-model="year" ng-change="submit()">
            <option ng-repeat="year in yearArray" ng-selected="year==currentYear">{{year}}</option>
        </select>
    </form>
    <div class="day" ng-repeat="date in dateArray">{{date}}</div>


    <p>Debug Section</p>
    {{debug1}}

<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./utilities/calendar-range/calendarRange.js"></script>
<script type="text/javascript" src="./app.js"></script>
</body>
</html>