html, body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: Georgia, serif;
}

form {
    margin-bottom: 20px;
    margin-top: 20px;
}

div.day {
    width: 14.1%;
    height: 150px;
    background-color: rgba(255,255,255,0.75);
    border: 1px white solid;
    display: inline-block;
}

div.notCurrentMonth {
    background-color: rgba(255,0,0,0.25);
}
